ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  h1{
    margin: 2%;
    text-align: center;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: orange;
  }
  
  .active {
    background-color: orangered;
  }

  img {
    width: 23%;
    position: relative;
    margin: 5%;
  }

  .img-div {
    width: 100%;
    position: relative;
    margin: 1%;
    box-shadow: 3px 3px 10px black;
}

.img-about {
  position: left;
  margin: 2%;
}

.form {
  margin: 2%;
}

.img-works{
  width: 100%;
}

.kep{
 margin-left: 31%;
}
